html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* background: linear-gradient(0deg, hsl(214, 47%, 23%), hsl(237, 49%, 15%)); */
  background-color: rgb(199, 150, 150); /* change later */
  color: white;
  font-weight: 400;
}

.game-container {
    display: flex;
    flex-direction: column;
    padding: 12px;
    height: 100%;
}

.score-board-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    border: 3px solid white;
    border-radius: 8px;
    padding: 16px;
}

.player-score {
    text-align: center;
}

.player-choices {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.choices {
    display: flex;
    gap: 12px;
    padding: 12px;
}

.choice {
    background-color: white;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    outline: none;
    cursor: pointer;
}

.playing-buttons {
    display: flex;
    flex-flow: row wrap;
}
.playing-buttons button {
    flex: 0 1;
    width: 90px;

}
.hidden {
    display: none;
}