html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* background: linear-gradient(0deg, hsl(214, 47%, 23%), hsl(237, 49%, 15%)); */
  background-color: rgb(199, 150, 150); /* change later */
  color: white;
  font-weight: 400;
}

.game-container {
    display: flex;
    flex-direction: column;
    padding: 12px;
    height: 100%;
    gap: 16px;
}

.game-name {
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.score-board-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 16px;
}

.score-board-container > div {
    border: 3px solid white;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.score {
    font-weight: bolder;
    font-size: 18px;
}

.player-choices {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.choices {
    display: flex;
    gap: 12px;
    padding: 12px;
}

.choice {
    background-color: white;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    outline: none;
    cursor: pointer;
}

.chosen {
    transform: scale(1.2);
}

.round-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    gap: 6px;
}

.game-summary {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.playing-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    gap: 8px;
}

.playing-buttons button {
    padding: 6px;
    outline: none;
    border: 3px solid white;
    background-color: inherit;
    color: white;
    border-radius: 6px;
    user-select: none;
}

.playing-buttons button:active {
    background-color: rgb(199, 150, 150);
    border-color: rgb(199, 150, 150);
}

.hidden {
    display: none;
}

.rules-notifications {
    display: flex;
    justify-content: center;
    align-items: center;
}